#blues {
    color:blue; font-size:20px;
}
.blacks {
    color:black; font-size:32px;
}
.grays {
    background-color: aquamarine;
}
a[title] {
    color: aqua;
}
td {
    border: 1px solid blue;
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: 25px;
    color: red;
}
table {
    border-collapse: collapse;
}
input {
    width: 100px; height: 40px;
    font-size: 30px; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
tr:nth-child(odd) {
    background-color: rgb(9, 255, 173);
}
tr:nth-child(even) {
    background-color: #5edf7a;
}